.navbar {
  &__logo {
    margin-left: 2.813rem;
  }

  $search-box-bg: #2d3a4e;

  $search-box-text-color: #c4c4c4;

  &__search-box {
    padding-left: 0;
    margin-top: 1.25rem;
    margin-left: 3.625rem;
  }

  &__search-input {
    z-index: 1;
    position: relative;
    left: -2.5rem;
    padding-left: 2.5rem;

    // TODO: Fix this. Important overrrides .navbar-form .form-control width property
    width: 19.69rem !important;
    background-color: $search-box-bg;
    border: transparent;
  }

  &__search-btn {
    z-index: 2;
    background-color: transparent;
    border-color: transparent;
    color: $search-box-text-color;

    &:hover {
      color: $search-box-text-color;
    }
  }

  &__right-icons {
    margin-top: 1.563rem;

    li a {
      padding: 0 1.938rem 0 0;
    }

    & li:last-child {
      margin-right: 4.25rem;
    }
  }

  &__icon {
    // TODO: Change color of the svg
    path {
      fill: red;//rgba(255, 255, 255, 0.3);
    }

    height: 1.25rem;
    width: 1.25rem;
  }
}
