.recommended-blogs {
  padding: 1.125rem 1.938rem 1.313rem;
}

.recommended-blog {
  display: flex;
  margin-top: 1.563rem;
  padding: 0 1.938rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid rgba(202, 202, 202, 0.7);

  &__info {
    margin-right: auto;
    display: flex;

    div {
      margin-left: 0.8125rem;
    }
  }

  &__photo {
    height: 2.188rem;
    width: 2.188rem;
  }

  &__username {
    color: #565656;
    margin-bottom: 0;
  }

  &__blog-name {
    font-size: 12px;
    color: #8e8e8e;
  }

  &__icon {
    height: 1.125rem;
    width: 1.125rem;
  }
}
