.navbar {
  &__wrapper {
    max-width: 71.88rem;
    margin: 0 auto;
  }

  $search-box-bg: #2d3a4e;

  $search-box-text-color: #c4c4c4;

  &__search-box {
    padding-left: 0;
    margin: 1.25rem 0 0 3.625rem;
  }

  &__search-icon {
    position: relative;

    .glyphicon {
      position: absolute;
      left: 0;
      padding: 0.625rem 0.75rem 0.625rem 1.25rem;
      color: $search-box-text-color;
    }
  }

  &__search-input {
    // Note: If a set the width of the design, breaks the sm and xs view
    padding-left: 2.938rem;
    background-color: $search-box-bg;
    border: transparent;
  }

  &__right-icons {
    li {
      margin-right: 30px;
    }

    li a {
      padding: 0;
    }
  }

  &__icon {
    opacity: 0.3;
    margin-top: 1.563rem;
    height: 1.25rem;
    width: 1.25rem;

    &:hover {
      opacity: 0.7;
    }
  }

  &__make-post {
    margin-top: 1.0625rem;
    background-color: #529ecc;
    opacity: 1;
    border-radius: 4px;
    padding: 0.5rem;
    height: 2.1875rem;
    width: 2.1875rem;
  }
}
